/* CUSTOM - Custom CSS for IE
 * classes in html tag 
 * <html class=".ie .ie6 || .ie7 || .ie8 || .ie9 || .ie1"> 
 */
 
 /*TEMPLATE*/
 
 	/*NAVBAR*/
 		.ie7 #navbar { display: none!important; }
 
	/*HEADER*/
		.ie7 #header input#mod-search-searchword { background-position: 5px -292px; }
		
	/*navigation*/
	
		.ie7 #navigation .nav {
			height: 42px;
			padding: 5px 0;
			margin: 0;
		}
		
		.ie7 #navigation .nav > li { margin-left: 4px; }
		.ie7 #navigation .nav > li:first-child { margin-left: 0; }
		.ie7 #navigation .nav > li > a {
			padding: 6px 12px;
			margin-bottom: 2px;
		}
		.ie7 #navigation .nav li.parent > a {
			padding-right: 22px;
		}
	
		.ie7 #navigation .nav .nav-child {
			width: 220px;
			padding: 6px;
			margin: 0;
			background-color: #fff;
			border: 2px solid #eaeaf2;
		}
		.ie7 #navigation .nav .nav-child a {
			padding: 4px 6px;
			white-space: normal;
		}