// @CUSTOM
// customização de estilo do site
// Esse arquivo deve conter todas as classes para customização do template para esse projeto.

@import "variables";
@import "mixins";
@import "template";

// WINDOW

	html, body, #screen, #wrapper { min-height: 100%; }

	// SCROLLBAR -> barra de rolagem
	*::-webkit-scrollbar {
		width:8px;
		height:11px;
		background-color: transparent;
	}
	*::-webkit-scrollbar-thumb,
	*::-webkit-scrollbar-corner {
		border-style: solid;
		border-width: 0px;
		border-color: $body-bg;
		background-color: #969eb3;
	}
	*::-webkit-scrollbar-thumb:hover { background-color: $gray; }
	*::-webkit-scrollbar-track-piece { background-color: none;}

	// section { margin: 50px 0; }
	// .media-md section { margin: 100px 0; }

// TYPOGRAPHY

		blockquote { font-family: $base-font-featured; }

		// VR -> VERTICAL <hr /> OPTION

			.vr {
				display: inline-block;
				width: 1px;
				height: 2em;
				margin: 0 5px;
				vertical-align: middle;
				border-left: 1px solid $base-border-color;
				border-right: 1px solid $base-border-color-inverted;
			}
			.vr-expanded { margin: 0 $base-space; }

// HEADERS

		h4,h5,h6 { line-height: 1.3em; }

		// headers para componente e modulo
		h3.page-header {
			margin: 0 0 50px;
			padding-top: 80px;
			color: $base-color-1;
			border-bottom: 2px solid $base-color-live;
		}

// MODULE

	.module {
		margin-bottom: $base-space;
		border: 1px solid #ddd;
		background-color: #fff;
		@include build-prefix-values('box-shadow', '0 1px 2px rgba(0,0,0,0.1)');
	}
	.module > h3.page-header {
		padding: 10px;
		margin: 0!important;
		font-size: 13px;
		line-height: 1;
		color: $brand-primary;
		font-weight: 600;
		text-shadow: 1px 1px 0 #fff;
		border-bottom: 2px solid $brand-primary;
		background-color: #f8f8f8;
	}
	.module > h3.page-header > .head-tag {
		font-weight: normal;
    text-shadow: none;
	}
	.module > h3.page-header > .head-tag .label { padding: .2em .6em; }

	.module > .module-body { padding: 10px; }
	// bootstrap '.table' in module
	.module .table-striped > tbody> tr:nth-of-type(odd) {
		background-color: $body-bg;
	}

// TEMPLATE

	// SCREEN

	#screen { background: #eee; }
	#screen .row-wrapper {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
	}

	// NAVIGATION

	#navigation {
		border-bottom: 2px solid $base-color-live;
		background: rgba(255,255,255,0.8);
		z-index: 1;
	}
	#navigation.affix {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		border-bottom-width: 1px;
		@include build-prefix-values('box-shadow', '0 1px 2px rgba(0,0,0,0.2)');
	}
	#navigation .menu {
		display: block;
		list-style: none;
		padding: 30px 0 10px;
		margin: 0;
		text-align: center;
		font-size: 16px;
	}
	#navigation.affix .menu { padding-top: 10px; }
	#navigation .menu li {
		display: inline-block;
		padding: 0 15px;
	}

	// HEADER

		#header {
			background: url('../images/header-bg.jpg') center bottom no-repeat;
		}
		#header #brand {
			padding: 20px 0;
			text-align: center;
		}
		#navigation.affix + #brand {
			margin-top: 64px;
		}
		#header #brand img {
			margin: auto;
		}
		#header .info {
			padding-top: 420px;
		}

	// FULL-CONTENT -> área total do conteúdo incluindo as laterais
		#full-content {
			padding: 0 $base-space-xl;
		}

		// LEFT & RIGHT
		#left .module,
		#right .module { margin-bottom: $base-space; }

		// IMAGE GALLERY
		.imgs-view {
			height: 250px;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.imgs-view .row {
			margin: 0;
		}
		.imgs-view .row .col-xs-3 {
			padding-left: 5px;
			padding-right: 5px;
			padding-bottom: 10px;
		}

		// USER INFO
		#contact { margin: 0 -30px; }
		#contact .contactContainer {
			padding: 70px 20px;
			background: url('../images/contact-bg.jpg') center top no-repeat;
		}
		#contact .contactContainer .alert {
	    margin: -50px 30px 10px;
		}
		#formContact input,
		#formContact textarea {
			border: none;
			opacity: 0.8;
		}
		#formContact input:hover,
		#formContact input:focus,
		#formContact textarea:hover,
		#formContact textarea:focus { opacity: 1; }

	// FOOTER

		#footer {
			padding: 30px 0 150px;
			background: url('../images/footer-bg.png') center bottom no-repeat;
		}

	//SCROLLTOTOP

		#scroll-to-top {
			display: none;
			position: fixed;
			right: 15px;
			bottom: 0;
			padding: 2px 20px 0px;
			color: #fff;
			font-size: 18px;
			@include build-prefix-values('border-radius', '4px 4px 0 0');
			background: #8FAFB3;
			background: rgba(0,76,88,0.7);
			overflow: hidden;
			z-index: $zindex-scroll-to-top;
		}
		#scroll-to-top:before {
			font-family: 'baseicons';
			content: '\e889'; // base-icon-angle-double-up
		}
		.support-on #scroll-to-top {
			right: 10px;
			bottom: 50px;
		}
		#scroll-to-top:hover { background: rgba(0,76,88,0.9); }


// BASE 'ELEMENTS'

	// fieldser-bordered inside tab-content
	.tab-content .fieldset-bordered .fieldset-sm {
		background-color: $body-bg;
		@include build-prefix-values('box-shadow', '1px 1px 6px rgba(0, 0, 0, 0.15)');
	}
	.chosen-container-single .chosen-single,
	.chosen-container-active.chosen-width-drop .chosen-single {
		background: $input-bg!important;
		border-color: $input-border!important;
		@include build-prefix-values('box-shadow', 'none');
	}
	.chosen-container .chosen-drop {
		border-color: $input-border!important;
	}

// BOOTSTRAP 'ELEMENTS'

	// dropdown-link-disabled-color
	.dropdown-menu { padding: 2px 0; }
	.dropdown-menu > li > a { padding: 3px 10px; }
	.dropdown-menu .divider { margin: 2px 0; }

	// modal
	.modal .modal-header {
		padding: 8px 10px;
		background-color: #fafafa;
		@include build-prefix-values('box-shadow', 'inset 0 -19px 0 rgba(0,0,0,0.03)');
	}
	.modal-header .close {
	  margin-top: 2px;
	}
	.modal .modal-body {
		padding-top: 15px;
	}
	.modal .modal-footer {
		padding: 5px 10px;
		background-color: #fafafa;
		@include build-prefix-values('box-shadow', 'inset 0 1px 0 #fff');
	}
	.modal-body .table-striped > tbody > tr:nth-of-type(odd),
	.modal-body .well,
	.modal-body .fieldset-embed,
	.modal-body ul.list,
	.modal-body ul.list-menu {
		background-color: $body-bg;
	}

	// popover
	.popover { box-shadow: 0 0 0 4px rgba(0,0,0,0.1); }
	.popover-title, .popover-content { padding: 10px 9px; }
