// @BASE ANIMATE
// Classes com efeitos para o template 'BASE'

// elemento oculto
// usar container próprio para não afetar a 'margin' do elemento
.load-on-view.element-view {
	display: block;
	position: relative;
	opacity: 0;
	@include build-prefix-values('transition-property', 'all');
	@include build-prefix-values('transition-duration', '1s');
	@include build-prefix-values('transition-timing-function', 'ease');
}
// atraso na animação
// Utilizar em caso de elementos carregados em sequencia

.reveal-delay-1 {
	@include build-prefix-values('transition-delay', '1s');
}
.reveal-delay-2 {
	@include build-prefix-values('transition-delay', '1.5s');
}
.reveal-delay-3 {
	@include build-prefix-values('transition-delay', '2s');
}
.reveal-delay-4 {
	@include build-prefix-values('transition-delay', '2.5s');
}
// efeito de movimento
.reveal-to-top { top: 100px; }
.reveal-to-right { right: 100px; }
.reveal-to-bottom { bottom: 100px; }
.reveal-to-left { left: 100px; }

// reseta o elemento para seu status default
.load-on-view.element-view.viewed {
	transform: translate(0, 0);
	opacity: 1;
}
.reveal-to-top.element-view.viewed { transform: translate(0, -100px); }
.reveal-to-bottom.element-view.viewed { transform: translate(0, 100px); }
.reveal-to-right.element-view.viewed { transform: translate(100px, 0); }
.reveal-to-left.element-view.viewed { transform: translate(-100px, 0); }
