// REGULAR LABS
// extensões Regular Labs

  // TABS
  .nn_tabs-responsive {
    margin-bottom: 10px;
    clear: both;
  }
  .nn_tabs > .tab-content > .tab-pane .nn_tabs-title { display: none; }
  // opção de título na impressão
  .tab-content > .tab-pane .tab-title { display: none; }
