// @JCE EDITOR

@mixin base-editor() {

	// Toolbar
	.mobileSkin table { background: #f8f8f8; }
	.mobileSkin table.mceLayout,
	.mobileSkin table.mceLayout tr.mceFirst td { border-color: #ddd!important; }
	.mobileSkin .mceToolbar { height: auto!important; }
	.mobileSkin table.mceToolbar { margin: 0px 0 1px 0px !important; }
	.mobileSkin td.mceToolbar { padding: 1px 1px 0px !important; }
	.mobileSkin .mceListBox .mceText { margin-left: 2px!important; }

	// botões
	.mobileSkin .mceButton, .mobileSkin .mceSplitButton a, .mobileSkin .mceListBox a, // botão default
	.mobileSkin .mceListBox .mceText, // select
	.mobileSkin .mceListBox .mceOpen, // seta do select
	.mobileSkin .mceSplitButton a.mceAction, // botão dropdown
	.mobileSkin .mceSplitButton a.mceOpen // seta do botão
	{
		width: auto!important;
		padding: 5px!important;
		border-color: #ccc #ccc #bbb!important;
		@include build-prefix-values('border-radius', '0!important');
	}
	// botões
	.site .mobileSkin .mceButton, .site .mobileSkin .mceSplitButton a, .site .mobileSkin .mceListBox a, // botão default
	.site .mobileSkin .mceListBox .mceText, // select
	.site .mobileSkin .mceListBox .mceOpen, // seta do select
	.site .mobileSkin .mceSplitButton a.mceAction, // botão dropdown
	.site .mobileSkin .mceSplitButton a.mceOpen // seta do botão
	{
		// height: 28px!important;
		overflow: hidden!important;
	}
	.mobileSkin .mceButton {
		position: relative;
		margin-right: -1px!important;
		cursor: pointer!important;
	}
	// hover, selecionado ou ativo
	.mobileSkin a.mceButtonActive, .mobileSkin a.mceButtonSelected { outline: 1px solid rgba(0,10,80,0.2); }
	.mobileSkin a.mceButtonActive, .mobileSkin a.mceButtonSelected,
	.mobileSkin .mceButton:hover {
		border-color: #444!important;
		z-index: 1!important;
	}
	// icon
	.mobileSkin .mceIcon { cursor: pointer; }

	// separador
	.mobileSkin .mceSeparator {
		margin: 0 3px 0 5px !important;
		border-right: 1px solid #ffffff!important;
	}

	// barra de status inferior
	.mobileSkin .mceStatusbar div { margin: 4px 5px!important; }
	.mobileSkin .mceStatusbar {
		height: 24px!important;
    font-family: Arial!important;
    color: #777!important;
	}
	.mobileSkin .mceStatusbar a { cursor: pointer!important; }
	.mobileSkin .mceStatusbar a.mceResize { margin-top: 4px; }

}
