// ALL MODE BASE

	// GENERAL

		.allmode-base .allmode-info {
			margin-bottom: map-get($spacers, 1)!important; // mb-1
			font-size: $small-font-size;
		}
		// SUB ITEMS
		.allmode-base .allmode-sub-item .allmode-image {
			float: left;
			margin-right: map-get($spacers, 2); // mr-2
		}
		.allmode-base .allmode-sub-item h6 {
			margin: 0;
			line-height: 1.2rem;
		}
		// Mantém o espaço entre a listagem e o link 'showall'
		.list-trim .allmode-showall {
			margin-top: 1rem;
		}

	// FEATURED NEWS

		// main items
		.allmode-base.featured-news figure {
			position: relative;
		}
		.allmode-base.featured-news figcaption {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: .8rem;
			font-size: 1.3rem;
			line-height: 1.2rem;
			background-color: #000;
			background-color: rgba(0, 0, 0, 0.8);
		}

	// HEADLINES

		// MAIN ITEMS
		.allmode-base.headlines .allmode-main-items {
			margin-bottom: map-get($spacers, 2); // mb-2
		}
		.allmode-base.headlines .allmode-main-item figure {
			margin-bottom: .75rem;
		}
		.allmode-base.headlines .allmode-main-item h5 {
			padding-bottom: map-get($spacers, 3); // pb-3
			margin: 0;
		}

	// SLIDER BRANDS

		.allmode-base.slider-brands figure {
			margin: 0;
		}
		.allmode-base.slider-brands .bx-wrapper {
			margin: 0;
		}
		// Setas de navegação
		.allmode-base.slider-brands .bx-controls-direction {
		    position: absolute;
		    width: 60px;
		    top: -15px;
		    right: -10px;
		}
		.allmode-base.slider-brands .bx-wrapper .bx-controls-direction a {
		    width: 20px;
		    height: 20px;
		}
		.allmode-base.slider-brands .bx-wrapper .bx-prev {
		    background-position: -5px -38px;
		}
		.allmode-base.slider-brands .bx-wrapper .bx-prev:focus,
		.allmode-base.slider-brands .bx-wrapper .bx-prev:hover {
		    background-position: -5px -6px;
		}
		.allmode-base.slider-brands .bx-wrapper .bx-next {
		    background-position: -50px -38px;
		}
		.allmode-base.slider-brands .bx-wrapper .bx-next:focus,
		.allmode-base.slider-brands .bx-wrapper .bx-next:hover {
		    background-position: -50px -6px;
		}
