// ITEM-PAGE
// detalhamento do conteúdo

.item-page { position: relative; }

	// ACTIONS

		// Esconde o texto do botão, mostra apenas o ícone
		.item-page #item-page-heading .btn-xs span[class^="icon-"] {
			display: none;
		}

		// FONT-SIZE: botões para aumentar e diminuir o tamanho da fonte
		@include media-breakpoint-down(sm) {
			.item-page #fontsize { display: none; }
		}

	// PUBLISH INFO

		.item-page #item-publish-info {
			margin-bottom: 2em;
			padding-bottom: .5em;
			border-bottom: 1px solid $base-border-color;
		}

	// IMAGE FULL

		.item-page .item-image {
			margin: 0 auto 1em;
		}
		@include media-breakpoint-up(sm) {
			.item-page .item-image.to-left {
				width: 42%;
				float: left;
				margin: .25em 2% 1em 0;
			}
			.item-page .item-image.to-right {
				width: 42%;
				float: right;
				margin: .25em 0 1em 2%;
			}
		}
		// CAPTION -> legenda da imagem
		.item-page p.img_caption {
			margin: 8px 0 0;
			padding: 2px 0;
			font-size: .9rem;
			color: $text-muted;
			clear: both;
		}

	// ITEM TOC

		.pagenavcounter {
			margin-top: -(map-get($spacers, 3));
		}

	// TAGS -> lista de tags do conteúdo
	.item-page .tags {
		margin:0;
		background:none;
	}
    .item-page div.tags .label {
		display: inline-block;
		padding: 3px 5px 2px;
		margin-top: 3px;
		font-family: $base-font-condensed;
		font-size: 12px;
		font-weight: normal!important;
		text-transform: uppercase;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
		@if $base-enable-rounded { border-radius: 3px; }
		@else { border-radius: 0; }
    }

	// LINKS -> listagem de links do conteúdo
	.item-page .content-links { margin: map-get($spacers, 4) 0; }

	// PAGENAV -> links de navegação entre artigos
	.item-page .pagenav .btn {
		min-width: 70px;
		margin: 0 5px;
	}
