// DROPPICS
// galeria de imagens

  // DEFAULT
  .droppicsgallerydefault {
    display: inline-block;
    margin-bottom: 1rem;
  }
  .droppicspictures {
    margin-left: -5px;
    margin-right: -5px;
  }
  .droppicsgallerydefault .wimg a { display: block; }
