// @CHOSEN
// chosen é uma biblioteca js que formata os 'selects', deixando com um visual de menu dropdown
// o Joomla, como usa mootools, define a class 'chzn' ao invés do padrão 'chosen'
// IMPORTANTE: Por causa dessa nomenclatura utilizada pelo Joomla esse arquivo foi definido como um mixin
// assim, ele é chamado em 'base.scss' como chosen e em 'cms.scss' como 'chzn'. Dessa forma, caso o 'cms.scss'
// não seja utilizado, não ficará nenhuma chamada obsoleta...

@mixin base-chosen($class) {

	// largura
	// '.input-sm +' -> <span class=".input-sm +"><select... ><span>
	// '.input-lg +' -> <span class=".input-lg +"><select... ><span>

	// Override width
	.#{$class}-container {
		min-width:50px;
		max-width:100% !important;
		text-align: left;
	}

		// bootstrap
		select.pull-left + .#{$class}-container { float: left!important; }
		select.pull-right + .#{$class}-container { float: right!important; }
		select.form-control + .#{$class}-container { width: 100%!important; }
		.input-group .#{$class}-container {
			display: table-cell;
			position: relative;
			z-index: 3;
			float: left;
			margin-bottom: 0;
		}
		.input-group .#{$class}-container:last-child .#{$class}-single,
		.input-group .#{$class}-container:last-child .#{$class}-choices {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
		.input-group .#{$class}-container:first-child .#{$class}-single,
		.input-group .#{$class}-container:first-child .#{$class}-choices {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
		.input-group .#{$class}-container:not(:first-child):not(:last-child) .#{$class}-single,
		.input-group .#{$class}-container:not(:first-child):not(:last-child) .#{$class}-choices {
			border-radius: 0;
		}

	// set border-color default
	.#{$class}-container-single .#{$class}-single,
	.#{$class}-container-multi .#{$class}-choices {
		color: $input-color;
	  background: $input-bg;
		@include build-prefix-values('box-shadow', 'inset 0 1px 1px rgba(0,0,0,.075)');
	}
	.#{$class}-container-single:not(.#{$class}-container-active) .#{$class}-single,
	.#{$class}-container-multi:not(.#{$class}-container-active) .#{$class}-choices {
		border-color: $input-border;
	}
	// set active shadow
	.#{$class}-container-single.#{$class}-container-active .#{$class}-single,
	.#{$class}-container-multi.#{$class}-container-active .#{$class}-choices {
		$color-rgba: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
		border-color: $input-border-focus!important;
		outline: 0;
		@include build-prefix-values('box-shadow', 'inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px '+$color-rgba+'!important');
	}
	// altura single and multiple
	.#{$class}-container-single .#{$class}-single,
	.#{$class}-container-multi .#{$class}-choices {
		min-height: $input-height-base;
		@include build-prefix-values('border-radius', $border-radius-base);
	}
	.input-sm + .#{$class}-container-single .#{$class}-single,
	.input-sm + .#{$class}-container-multi .#{$class}-choices {
		min-height: $input-height-small;
		@include build-prefix-values('border-radius', $border-radius-small);
	}
	.input-lg + .#{$class}-container-single .#{$class}-single,
	.input-lg + .#{$class}-container-multi .#{$class}-choices {
		min-height: $input-height-large;
		@include build-prefix-values('border-radius', $border-radius-large);
	}
	// Fix 100% width
	.#{$class}-drop,
	.#{$class}-drop .#{$class}-search
	.#{$class}-drop .#{$class}-search input {
		width: 100% !important;
		@include build-prefix-values('box-sizing', 'border-box');
	}

	// container do select simples
	.#{$class}-container-single .#{$class}-single {
		height: $input-height-base;
		line-height: $input-height-base;
	}
	.input-sm + .#{$class}-container-single .#{$class}-single {
		height: $input-height-small;
		line-height: $input-height-small;
	}
	.input-lg + .#{$class}-container-single .#{$class}-single {
		height: $input-height-large;
		line-height: $input-height-large;
	}
	// seta
	.#{$class}-container-single .#{$class}-single div b {
		margin-top: ($input-height-base/2) - 2!important;
		background-position: 0 -7px!important;
	}
	.input-sm + .#{$class}-container-single .#{$class}-single div b { margin-top: ($input-height-small/2) - 2!important; }
	.input-lg + .#{$class}-container-single .#{$class}-single div b { margin-top: ($input-height-large/2) - 2!important; }

	.#{$class}-container-single .#{$class}-single abbr { top: ($input-height-base/2) - 6; }
	.input-sm + .#{$class}-container-single .#{$class}-single abbr { top: ($input-height-small/2) - 6; }
	.input-lg + .#{$class}-container-single .#{$class}-single abbr { top: ($input-height-large/2) - 6; }

	// search & choices
	.#{$class}-container-multi .#{$class}-choices li.search-field { padding: 4px 0 0; }
	.input-sm + .#{$class}-container-multi .#{$class}-choices li.search-field { padding: 2px 0 0; }

	.#{$class}-container-single .#{$class}-search input[type="text"] { padding: 2px 20px 2px 6px!important; }
	.#{$class}-container-single .#{$class}-search input[type="text"],
	.#{$class}-container-multi .#{$class}-choices li.search-field input[type="text"] {
		min-height: 1em!important;
		height: auto;
		margin: 0;
	}
	.#{$class}-container-multi .#{$class}-choices li.search-field input[type="text"] {
		padding: 0 5px;
		&:focus {
	    outline: 0;
	    @include build-prefix-values('box-shadow', 'none');
	  }
	}
	.#{$class}-container-multi .#{$class}-choices li.search-choice { margin: 5px 2px 0px; }
	.input-sm + .#{$class}-container-multi .#{$class}-choices li.search-choice { margin: 3px 1px 0px; }

	// menu popup com os resultados
	.#{$class}-container .#{$class}-drop {
		top: 99%;
		border-color: $base-border-color-strong;
		border-top-width: 1px!important;
		@include build-prefix-values('border-radius', 0 0 $border-radius-base $border-radius-base);
		overflow: hidden;
		z-index: $zindex-chosen;
	}
	.input-sm + .#{$class}-container .#{$class}-drop { top: 97%; }

}
