// @CORE MIXINS

// prefixes
$default-prefixes: webkit moz ms o;
@mixin build-prefix-values($property, $value, $prefixes: $default-prefixes) {
	@each $prefix in $prefixes {
		-#{$prefix}-#{$property}: #{$value};
	}
	#{$property}: #{$value};
}

// set fonts
@mixin set-font-family($font-name, $font-path) {
	@font-face {
		font-family: '#{$font-name}';
		src: url('#{$font-path}.eot');
		src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}.woff2') format('woff2'),
		url('#{$font-path}.woff') format('woff'),
		url('#{$font-path}.ttf') format('truetype'),
		url('#{$font-path}.svg##{$font-path}') format('svg');
	}
}

// classes for custom fonts
@mixin set-font-class($font-class, $font-name, $font-weight, $font-style) {
	.font-#{$font-class} {
		font-family: '#{$font-name}';
		font-weight: #{$font-weight};
		font-style: #{$font-style};
	}
}

// spaces
$default-spaces-directions: top right left bottom;
@mixin build-classes-spaces($classname, $property, $value, $directions: $default-spaces-directions) {
	@each $prefix in $directions {
		.#{$prefix}-#{$classname} { #{$property}-#{$prefix}: #{$value}; }
	}
	.all-#{$classname} { #{$property}: #{$value}; }
}

// Form control focus state
//
// Essa função é uma réplica da função 'form-control-focus' do bootstrap
// localizada no arquivo: _core/bootstrap/sass/bootstrap/mixins/_form.scss
// Ela implementa o estado 'focus' nos campos de formulário
@mixin base-form-control-focus($color: $input-border-focus) {
  $color-rgba: rgba(red($color), green($color), blue($color), .6);
  &:focus {
    border-color: $color;
    outline: 0;
    @include build-prefix-values('box-shadow', 'inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px '+ $color-rgba);
  }
}
