// DP CALENDAR
// Calendário de eventos

  // GERAL

    	// Botões de Compartilhamento
		#dp-calendar-share .dp-share-button {
			margin: 0 5px 0 0!important;
		}
		// Container principal
	    .dp-calendar.fc {
			border: 3px solid $base-color-primary-lightest;
	    }
		.fc-toolbar.fc-header-toolbar {
		    margin-bottom: 0!important;
		    padding-bottom: 2px;
		    background: $base-color-primary-lightest;
		}
//     // Lista de Calendários
//     #dpcalendar_view_list {
// 		padding: 15px 0 0;
//     }
// 		// Opção (checkbox)
// 		#dpcalendar_view_list label.checkbox {
// 			margin-bottom: 0;
// 		}
// 		// Descrição do calendário
// 		#dpcalendar_view_list dd {
// 			font-size: .9rem;
// 		}
//     // Cabeçalho da tabela de ações
//     // Botões de navegação e Título
//     .fc-header-toolbar {
// 		background-color: $gray-lighter;
// 		color: $brand-primary;
//     }
//     .fc-header-toolbar td {
// 		vertical-align: middle !important;
//     }
		.fc-header-toolbar .fc-button {
			margin: 0 1px!important;
			color: #fff;
			font-size: 13px!important;
			text-shadow: none;
			border: none;
			background: $brand-primary;
			border-radius: 0!important;
		}
		// botõs de navegação no módulo
		.module .fc-header-toolbar .fc-left .fc-button {
			padding: 0;
		}
		.fc-header-toolbar h2 {
			margin: 0!important;
			padding-top: 10px!important;
			line-height: 10px!important;
			font-size: 14px!important;
			color: $base-color-primary-dark;
			text-shadow: 1px 1px 0 #fff;
		}

    	// TABELA DE CONTEÚDO (widget)

		// Celulas default da tabela
		.fc-widget-header,
		.fc-widget-content {
			font-size: .9rem;
			border-color: $base-color-primary-lightest!important;
		}
		// Cabeçalho da tabela
		// Dias da semana (calendário, semana), horários (dia, semana)
		.fc-widget-header {
			color: #fff!important;
			font-weight: normal!important;
			vertical-align: middle!important;
			background: $brand-primary!important;
		}
		// Destaca o dia atual (calendário, semana)
		.fc-state-highlight {
			color: $base-color-live;
		}
		// Container de informação do evento
		.fc-event {
			padding: 0 2px;
			border-radius: 0;
		}

	// CALENDÁRIO

		// COMPONENTE

			// Cabeçalho do conteúdo (dias da semana)
			#dp-calendar th.fc-day-header {
				padding: 5px;
			}

		// MÓDULO

			// Altura da celula da tabela do calendário
			.fc-basic-view .fc-body .fc-row {
				min-height: 2.2em!important;
			}
			.fc-row .fc-content-skeleton td {
			    line-height: 0;
			}
			.fc-row .fc-content-skeleton thead td {
			    padding-top: 6px;
			}
			// Link para o(s) evento(s)
			// Só é visualizado o ícone, sem texto...
			.module .fc-event-container > .fc-event,
			.module .fc-more {
				width: 12px!important;
				height: 12px!important;
				margin: 0 4px!important;
				padding: 0!important;
				border-radius: 20px;
			}
			.module .fc-more {
				display: block;
				width: auto!important;
				padding-top: 3px!important;
				line-height: 1rem;
				color: $base-color-live!important;
				white-space: nowrap;
				overflow: hidden;
			}
			.module .fc-ltr .fc-h-event .fc-end-resizer,
			.module .fc-rtl .fc-h-event .fc-start-resizer {
			    cursor: pointer!important;
			}
//
//   // LIST VIEW
//
// 	.fc-view-list,
// 	.fc-view-table {
// 		border: none;
// 	}
// 	.fc-view-list .fc-event {
// 		font-size: inherit!important;
// 	}
// 	.fc-view-list .fc-event-time,
// 	.fc-view-list .fc-event-title {
// 		padding: 3px 6px;
// 		font-size: inherit!important;
// 	}
//
//   // TOOLTIP
//
// 	.tooltipster-default { }
// 	.tooltipster-content {
// 		padding: 2px 4px!important;
// 	}
// 	.tooltipster-content a {
// 		color: $base-color-live!important;
// 	}
// 	.tooltipster-content ul {
// 		padding: 0;
// 		margin: 0;
// 		list-style: none;
// 	}
// 	.tooltipster-content ul > li {
// 		padding: 2px 0;
// 		border-top: 1px solid $base-border-color;
// 	}
// 	.tooltipster-content ul > li:first-child {
// 		padding-top: 0;
// 		border-top: none;
// 	}
// 	.tooltipster-content ul > li:last-child {
// 		padding-bottom: 0;
// 	}
// 	// 'hr' na tooltip
// 	#dp-popup-window-divider {
// 		margin: 4px 0;
// 	}
