// @CUSTOM VARS

  // Z-INDEX DEFINITIONS
  // Importante: não deve ser maior que '1030' (navbar)
  $zindex-chosen:           996 !default;
  $zindex-nav-child:        999 !default;
  $zindex-scroll-to-top:    999 !default;
  $zindex-datepicker:       1000 !default;

  // ADMIN NAVBAR
  $admin-navbar-height: 33px;
  $admin-navbar-opacity: .95;
  $admin-navbar-toggler-margin: 43px;
