// FAST SOCIAL SHARE
// Plugin com botões para compartilhamento de conteúdo

  // ARTICLE
  .fastsocialshare_container {
      padding-top: $base-space-lg;
      margin-left: -6px;
      font-family: arial;
  }
