// @CUSTOM VARS

	// Z-INDEX DEFINITIONS
	// Importante: não deve ser maior que '1030' (navbar)
	$zindex-chosen:			996 !default;
	$zindex-nav-child:		999 !default;
	$zindex-scroll-to-top:	999 !default;
	$zindex-bg-menu:		999 !default;
	$zindex-datepicker:		1000 !default;
	$zindex-header:			1000 !default;

	// ADMIN NAVBAR
	$admin-navbar-height: 33px;
	$admin-navbar-opacity: 1;
	$admin-navbar-toggler-margin: 43px;

	// SIDEBAR
	$base-sidebar-width: 220px;
	$base-sidebar-bg: $base-color-primary-darkest;
	$base-sidebar-header-height: 62px;
	$base-sidebar-header-bg: rgba(0,0,0,.4);
	$base-sidebar-footer-height: 34px;
	$base-sidebar-footer-bg: rgba(0,0,0,.4);
	$base-sidebar-content-height: ($base-sidebar-header-height + $base-sidebar-footer-height);
