// @PRINT
// css que define a impressao do template

// LINKS
// formata os links visíveis na impressão
#content a[href]:after {
	content: none!important;
}
#content a[href].print-url:after {
	content: " ( " attr(href) " )"!important;
	font-size: 11px;
	font-weight: normal;
	color: #777;
}

hr {
	border-style: dashed!important;
	border-color: #000!important;
	border-width: 1px 0 0!important;
}

// TEMPLATE

	#screen,
	#wrapper {
		width: 100%!important;
		padding:0!important;
		margin:0!important;
	}
	.container {
		width: 98%!important;
		padding:0 1%!important;
		margin:0!important;
	}
	#content {
		clear:both;
	}
	#main-content {
		position:relative;
		width: 100% !important;
	}
	.hidden-print,
	#navbar,
	#top,
	#header,
	#navigation,
	#showcase,
	#info-top,
	#featured,
	#sidebar,
	#right,
	#content-top,
	#content-bottom,
	#info-bottom,
	#syndicate,
	#bottom,
	#footer,
	#hidden
	{
		display:none !important;
	}
