// @CORE TEMPLATE
// Utilize 'default.css' para sobrescrever as classes abaixo

  html {
    font-size: $base-font-size-root;
    // overflow é por causa do módulo vertical-menu que atribui 'overflow-y: auto' à tag <html>
    // isso causa conflito com a funcionalidade 'modal' do bootstrap
    overflow: initial!important;
  }
  // mobile
  @media (max-width: 767px) {
		html.isMM { overflow-x: hidden; }
	}

	body { position: relative; }

	// LAYOUT WIDTH

		// fullscreen
		html.media-sm body.fullScreen .container { width: 100% !important; }
		// not responsive
		body.not-responsive .container { width: 960px !important; }
		body.not-responsive.fullScreen .container { min-width: 960px !important; }

		// Templates do sistema -> Joomla
		body.component { padding: 10px; }
		body.component.layout-modal { padding: 10px 0 0; }
		body.component-modal .wrapper-modal { padding: 5px 0 0; }
		body.component-modal .wrapper-modal > .container { width: 100%; }
		body.component-modal .wrapper-modal div.container,
		body.component-modal .wrapper-modal div[class^="col-"],
		body.component-modal .wrapper-modal div[class^="col-sm-"],
		body.component-modal .wrapper-modal div[class^="col-md-"],
		body.component-modal .wrapper-modal div[class^="col-lg-"] {
			padding-left: 5px;
			padding-right: 5px;
		}
		body.component-modal .wrapper-modal div.row {
			margin-left: -5px;
			margin-right: -5px;
		}

// COMMON TO VARIOUS ELEMENTS

	.bs-container,
	.module,
	#main-content,
	#right {
		position: relative;
	}

	.row-wrapper {
		margin-left: $base-space;
		margin-right: $base-space;
	}

	// mobile
  @media (max-width: 767px) {
		.bs-container {
			position: static;
		}
	}

// WRAPPER -> container do template

	html.isMM:not(.media-md)  #wrapper { margin-left: 0!important; }

// SCREEN

  // Esconde o conteúdo durante o preloader
  body.preloader #screen { visibility: hidden; }

// FOOTER

	.html.media-md:not(.media-lg) #footer {
		// fix z-index issue from '#scroll-to-top'
		transform: translate3d(0,0,0);
	}

// HIDDEN -> área reservada a toda informação que não deva aparecer na página

  #hidden {
    position: fixed;
    bottom: -10px;
    left: -10px;
    width: 1px;
    height: 1px;
    z-index: $zindex-modal;
  }
