// @CUSTOM
// customização de estilo do site
// Esse arquivo deve conter todas as classes para customização do template para esse projeto.

// WINDOW

	// SCROLLBAR -> barra de rolagem
	*::-webkit-scrollbar {
		width:11px;
		height:11px;
		background-color: transparent;
	}
	*::-webkit-scrollbar-thumb,
	*::-webkit-scrollbar-corner {
		border-style: solid;
		border-width: 2px;
		border-color: $body-bg;
		background-color: $gray-light;
		border-radius: 10px;
	}
	*::-webkit-scrollbar-thumb:hover { background-color: $gray; }
	*::-webkit-scrollbar-track-piece { background-color: none;}

// TYPOGRAPHY

	blockquote { font-family: $base-font-featured; }

// HEADERS

	h4, h5, h6 { line-height: 1.3em; }

// TEMPLATE

	// COMMON ELEMENTS

		// 'clearfix' elements
		// a classe 'elemento' só serve como modelo
		// .elemento:before, .elemento:after {
		// 	content: " ";
		// 	display: table;
		// }
		// .elemento:after { clear: both; }

	// BG LAYER

		#base-bg-layer { }

	// SCREEN

		#screen { }

	// WRAPPER

		#wrapper {
			position: relative;
			margin: auto;
		}

		// wrapper = container
		// .media-sm #wrapper { width: 576px; }
		// .media-md #wrapper { width: 768px; }
		// .media-lg #wrapper { width: 992px; }
		// .media-xs #wrapper { width: 1200px; }


	// HEADER

		#header { }

		// NAVIGATION

			// mobile
			// mostra/esconde o menu principal para mostrar o menu mobile
			#{$base-break-down}.isMM .mainmenu { display: none; }

			// Menu Principal

				// MENU PRINCIPAL -> NÍVEL 1

					// Item container <li>
					.mainmenu .nav.menu > li { }
					// Espaço entre os itens -> horizontal
					// Obs: não confundir com o tamanho do item
					#{$base-break-up} .mainmenu .nav.menu > li:not(:last-child) { margin-right: 2px; }
					// Item <a>
					// Formato do item -> definido no link <a>
					.mainmenu .nav.menu > li > a,
					.mainmenu .nav.menu > li > a:link,
					.mainmenu .nav.menu > li > a:visited {

					}
					// Efeito hover
					.mainmenu .nav.menu li:not(.active) > a:hover,
					.mainmenu .nav.menu li:not(.active) > a:focus,
					.mainmenu .nav.menu li.parent:not(.active):hover > a {

					}
					// Item ativo
					.mainmenu .nav.menu li.active > a {

					}
					// Espaço entre o item principal (nível 1) e o sub-menu (nível 2)
					// obs: apenas no formato horizontal
					#{$base-break-up} .mainmenu .nav.menu > li.parent > a { margin-bottom: 0; }

					// SUB MENU

						// Item <a>
						// Efeito hover
						.mainmenu .nav.menu .nav-child li:not(.active) > a:hover,
						.mainmenu .nav.menu .nav-child li:not(.active) > a:focus,
						.mainmenu .nav.menu .nav-child li.parent:not(.active):hover > a {

						}

	// SECTION

		#section {

		}

	// FULL-CONTENT -> área total do conteúdo incluindo as laterais

		// CONTENT
		#full-content { padding: $base-space 0; }

		// LEFT & RIGHT
		#left .module,
		#right .module { margin-bottom: $base-space; }

	// SYNDICATE

		#syndicate {

		}
		#{$base-break-down} #syndicate { text-align: center; }

	// FOOTER

		#footer {
			padding: $base-space 0;
		}
		#{$base-break-down}  #footer { text-align: center; }

	//SCROLLTOTOP

		#scroll-to-top {
			display: none;
			position: fixed;
			right: $base-space;
			bottom: $base-space;
			padding: 8px 16px;
			color: #fff;
			font-size: 20px;
		  @if $base-enable-rounded { border-radius: $border-radius; }
		  @else { border-radius: 0; }
			background: #333;
			opacity: 0.8;
			overflow: hidden;
			z-index: $zindex-scroll-to-top;
		}
		#scroll-to-top:before {
			font-family: 'baseicons';
			content: '\e889'; // base-icon-angle-double-up
		}
		.support-on #scroll-to-top {
			right: 10px;
			bottom: 50px;
		}
		#scroll-to-top:hover { opacity: 0.95; }
