// @CUSTOM
// customização de estilo do site
// Esse arquivo deve conter todas as classes para customização do template para esse projeto.

// WINDOW

	// SCROLLBAR -> barra de rolagem
	*::-webkit-scrollbar {
		width:11px;
		height:11px;
		background-color: transparent;
	}
	*::-webkit-scrollbar-thumb,
	*::-webkit-scrollbar-corner {
		border-style: solid;
		border-width: 2px;
		border-color: $body-bg;
		background-color: $gray-600;
		border-radius: 10px;
	}
	*::-webkit-scrollbar-thumb:hover { background-color: $gray-700; }
	*::-webkit-scrollbar-track-piece { background-color: transparent; }

// TEMPLATE

	// BG LAYER

		#base-bg-layer { }

	// SCREEN

		#screen { }

	// WRAPPER

		#wrapper {
			position: relative;
			margin: auto;
		}

		// wrapper = container
		// .media-sm #wrapper { width: 576px; }
		// .media-md #wrapper { width: 768px; }
		// .media-lg #wrapper { width: 992px; }
		// .media-xl #wrapper { width: 1200px; }

	// SIDEBAR

		#tmpl-sidebar {
			background-color: $base-sidebar-bg;
		}
			#tmpl-sidebar-header {
				height: $base-sidebar-header-height;
				background-color: $base-sidebar-header-bg;
			}
			#tmpl-sidebar-footer {
				height: $base-sidebar-footer-height;
				background-color: $base-sidebar-footer-bg;
			}

	// HEADER

		#header { }

		#header-row-2 {
			height: 70px;
		    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
		}

	// SECTION-TOP

		#section-top {

		}

	// FULL-CONTENT -> área total do conteúdo incluindo as laterais

		#full-content {
			padding: $grid-gutter-width 0;
		}

		// HOME
		.home .allmode-showall {
			font-size: 0.9rem;
		}
		.home #full-content .allmode-box figure {
			transition: all .3s ease;
			border: 3px solid #fff;
    		box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
		}
		.home #full-content .allmode-box figure:hover {
			box-shadow: 1px 1px 6px rgba(0,0,0,0.2), 4px 4px 20px 0px rgba(0,0,0,0.2);
		}
		.home-list-gallery .allmode-showall {
			text-align: right;
			font-size: 0.9rem;
		}
		.home-list-fenae .allmode-showall {
			margin-top: 1rem;
			padding-top: .5rem;
			border-top: 1px solid $base-border-color;
			text-align: right;
			font-size: 0.9rem;
		}

	// SECTION BOTTOM

		#section-bottom {

		}
		#{$base-break-down} #section-bottom { text-align: center; }

	// FOOTER

		#footer {

		}
		#footer a:not(.btn) {

		}
		#footer .set-list > li {
			border-color: $base-gray-900;
		}
		#{$base-break-down}  #footer { text-align: center; }

		// Parcerias
		#flag-parcerias {
		    position: absolute;
		    z-index: 1;
		    top: -30px;
		    left: -30px;
		}

		// Localidades
		#locations-map-bg {
			position: absolute;
			width: 100%;
			height: 237px;
			background: url("../images/location-map.png");
			box-shadow: inset 0 2px 3px rgba(0,0,0,0.3);
		}

	// HIDDEN

		// Pesquisa
		#hidden #mod-search-searchword {
			padding: .5rem 1rem;
			font-size: 1.3rem;
			line-height: 1.8;
			border-radius: 3px;
		}
		#modal-107 .close {
			color: $base-color-white;
			text-shadow: none;
		}

	// SCROLLTOTOP

		#scroll-to-top {
			display: none;
			position: fixed;
			right: $base-space;
			bottom: $base-space;
			padding: 8px 16px;
			color: #fff;
			font-size: 20px;
		  @if $base-enable-rounded { border-radius: $border-radius; }
		  @else { border-radius: 0; }
			background: #333;
			opacity: 0.8;
			overflow: hidden;
			z-index: $zindex-scroll-to-top;
		}
		#scroll-to-top:before {
			font-family: 'baseicons';
			content: '\e889'; // base-icon-angle-double-up
		}
		.support-on #scroll-to-top {
			right: 10px;
			bottom: 50px;
		}
		#scroll-to-top:hover { opacity: 0.95; }
