// @CUSTOM
// customização de estilo do site
// Esse arquivo deve conter todas as classes para customização do template para esse projeto.

// WINDOW

	// SCROLLBAR -> barra de rolagem
	*::-webkit-scrollbar {
		width:11px;
		height:11px;
		background-color: transparent;
	}
	*::-webkit-scrollbar-thumb,
	*::-webkit-scrollbar-corner {
		border-style: solid;
		border-width: 2px;
		border-color: $body-bg;
		background-color: $gray-600;
		border-radius: 10px;
	}
	*::-webkit-scrollbar-thumb:hover { background-color: $gray-700; }
	*::-webkit-scrollbar-track-piece { background-color: none;}

// TEMPLATE

	// BG LAYER

		#base-bg-layer { }

	// SCREEN

		#screen { }

	// WRAPPER

		#wrapper {
			position: relative;
			margin: auto;
		}

		// wrapper = container
		// .media-sm #wrapper { width: 576px; }
		// .media-md #wrapper { width: 768px; }
		// .media-lg #wrapper { width: 992px; }
		// .media-xl #wrapper { width: 1200px; }

	// HEADER

		#header { }

		#header-row-1 {
			box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.15), 1px 1px 1px rgba(0,0,0,0.4);
		}

		// Logo
		#header #logo-header {
		    position: absolute;
		    top: 0px;
		    display: block;
		    width: 100px;
		    height: 90px;
			text-align: center;
		    border-radius: 0 0 10px 10px;
		    background: $base-color-primary-darker;
		    box-shadow: 2px 2px 3px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.3);
		    z-index: 3;
		}
		#header #logo-header img {
			width: 90px;
			margin-top: 7px;
		}
		html.media-md #header #logo-header {
		    width: 120px;
		}
		html.media-md #header #logo-header img {
			width: 100px;
			margin-top: -5px;
		}


	// SECTION-TOP

		#section-top {

		}

	// FULL-CONTENT -> área total do conteúdo incluindo as laterais

		#full-content {
			padding: $grid-gutter-width 0;
		}

	// SECTION BOTTOM

		#section-bottom {

		}
		#{$base-break-down} #section-bottom { text-align: center; }

	// FOOTER

		#footer {

		}
		#{$base-break-down}  #footer { text-align: center; }

	// SCROLLTOTOP

		#scroll-to-top {
			display: none;
			position: fixed;
			right: $base-space;
			bottom: $base-space;
			padding: 8px 16px;
			color: #fff;
			font-size: 20px;
		  @if $base-enable-rounded { border-radius: $border-radius; }
		  @else { border-radius: 0; }
			background: #333;
			opacity: 0.8;
			overflow: hidden;
			z-index: $zindex-scroll-to-top;
		}
		#scroll-to-top:before {
			font-family: 'baseicons';
			content: '\e889'; // base-icon-angle-double-up
		}
		.support-on #scroll-to-top {
			right: 10px;
			bottom: 50px;
		}
		#scroll-to-top:hover { opacity: 0.95; }
