// @STYLE GUIDE
// Classes de customização do guia de estilo

// IMPORTS
@import "variables";
@import "mixins";

#guide-menu { overflow-y: auto; }
#guide-menu.affix { top: 70px; }
#guide-menu li.parent.active > a { background-color: $base-color-live-text; }
#guide-menu li.active > a { color: $base-color-live; }
