// @CUSTOM
// customização de estilo do site
// Esse arquivo deve conter todas as classes para customização do template para esse projeto.

@import "variables";
@import "mixins";
@import "template";

// WINDOW

	html, body, #screen, #wrapper { min-height: 100%; }

	// SCROLLBAR -> barra de rolagem
	*::-webkit-scrollbar {
		width:12px;
		height:12px;
		background-color: transparent;
	}
	*::-webkit-scrollbar-thumb,
	*::-webkit-scrollbar-corner {
		border-style: solid;
		border-width: 0 2px;
		border-color: $body-bg;
		background-color: $base-color-1-light;
	}
	*::-webkit-scrollbar-thumb:hover { background-color: $base-color-1; }
	*::-webkit-scrollbar-track-piece { background-color: none;}

// TYPOGRAPHY

		blockquote { font-family: 'featured'; }

		// VR -> VERTICAL <hr /> OPTION

			.vr {
				display: inline-block;
				width: 1px;
				height: 2em;
				margin: 0 5px;
				vertical-align: middle;
				border-left: 1px solid $base-border-color;
				border-right: 1px solid $base-border-color-inverted;
			}
			.vr-expanded { margin: 0 $base-space; }

// HEADERS

		h4,h5,h6 { line-height: 1.3em; }

		// headers para componente e modulo
		.module .page-header,
		h4.page-header,
		h5.page-header,
		fieldset:not(.fieldset-bordered):not(.fieldset-embed) legend {
			margin: 2px 0px 15px 0px;
			padding-bottom: 5px;
			font-size: 1.2em;
		}
		.page-header,
		fieldset:not(.fieldset-bordered):not(.fieldset-embed) legend{
			border-bottom:1px solid $base-border-color-strong;
			@include build-prefix-values('box-shadow', '0 1px 0 '$base-border-color-inverted);
		}
		// mesma configuração do 'h4'
		.module .page-header,
		fieldset:not(.fieldset-bordered):not(.fieldset-embed) legend
		{
			font-size:1.3em;
			line-height: 1.3em;
		}
		fieldset:not(.fieldset-bordered):not(.fieldset-embed) legend { margin-bottom: $base-space-lg; }
		// CHROME ONLY
		.chrome fieldset:not(.fieldset-bordered):not(.fieldset-embed) legend { padding-top: 2px; }

// MODULE

	// WELL/WELL-SM
	// adaptação do bootstrap 'well' e 'well-sm' para módulos

	.module > .well { margin-bottom: 0; }
	.module > .well .page-header {
		padding: 0 0 5px;
		margin: -6px 0 6px;
	}
	.module > .well-sm .page-header {
		padding-bottom: 3px;
		margin-top: -2px;
	}

	// PANEL
	// adaptação do bootstrap 'panel' para módulos

	.module > .panel { margin-bottom: 0; }
	.module > .panel .panel-heading {
		padding: 7px 10px 5px;
		font-weight: bold;
	}
	.module > .panel .panel-body { padding: 10px; }

// TEMPLATE

	// HEADER

		#header {
			position: absolute; /*corrigr problema com o scroll por causa do affix*/
			width: 100%;
			height: 56px;
			padding: 0;
			margin-bottom: 1px;
			color: #fff;
			border-bottom: 2px solid $base-color-live;
			background-color: #283C6F;
			@include build-prefix-values('box-shadow', '0 1px 0 #fff, inset 0 -30px 50px rgba(0, 0, 0, 0.2)');
			z-index: $zindex-header;
		}
		#header.affix {
			position: fixed;
			@include build-prefix-values('box-shadow', '0 1px 8px 1px rgba(0,0,0,0.2)');
		}

		#header a { color: #ddd; }
		#header a:hover { color: #fff; }
		#header .dropdown-menu a { color: #555; }

		#toggleMenu {
			display:block;
			float:left;
			width:40px;
			height:50px;
			line-height:50px;
			background:none;
			border:0;
			cursor:pointer;
			@include build-prefix-values('box-shadow', 'inset -1px 0 0 #4B618D');
		}
		.toggle_menu span{
			display:block;
			font-size:28px;
		}

		// logo
		#header .brand {
			display: block;
			float: left;
			height: 65px;
			padding: 15px 15px 0;
			background-color: #e8e8e8;
			@include build-prefix-values('border-radius', '0 0 6px 6px');
			@include build-prefix-values('box-shadow', 'inset 0 30px 30px #fff, inset 0 30px 30px #fff, 0 0 5px rgba(0,0,0,0.6)');
			@include build-prefix-values('transition', 'color .5s linear');
		}
		.media-md #header #brand {
			padding-left: 24px;
			padding-right: 24px;
		}
		#header #brand-client { padding: 10px; }

		#header #brand img { width: 140px; }
		#header #brand-client img {
			max-width: 100px;
			max-height: 34px;
		}

		#header-btn-group {
			float: right;
			margin: 20px 5px 0 0;
		}
		#header-btn-group .btn {
			border-color: transparent!important;
			opacity: 0.8;
		}
		#header-btn-group .btn-default,
		#header-btn-group .btn-default:hover	{ color: #777; }

		#header-options {
			position: relative;
			float: right;
		}
		#header-options > a {
			width: 50px;
			height: 54px;
			line-height: 40px;
			font-size: 30px;
			text-align: center;
			color: #f80;
			text-shadow: 1px 1px 0 #fff;
			background-color: #eee;
			@include build-prefix-values('box-shadow', 'inset 0 30px 15px #fafafa');
			@include build-prefix-values('transition', 'all 0.35s ease');
		}
		.media-md #header-options > a { width: 60px; }
		#header-options > a:hover {
			color: #f80;
			@include build-prefix-values('box-shadow', 'none');
		}
		#header-options > a + .dropdown-menu {
			margin-top: 1px;
			background-color: #283655;
		}
		#header-options > a + .dropdown-menu a {
			color: #eee;
		}
		#header-options > a + .dropdown-menu a:hover,
		#header-options > a + .dropdown-menu .divider {
			background-color: #435A8E;
			border-color: #435A8E;
		}

	// NAVIGATION

	#navigation {
		height: 54px;
		float: left;
		border-top: 1px solid transparent;
	}
	#navigation .nav.menu {
		padding: 0;
		margin: 0;
	}

	// raíz

		#navigation .nav > li { margin: 0; }
		#navigation .nav a {
			display: block;
			padding: 10px 20px;
			border: 1px solid transparent;
			@include build-prefix-values('border-radius', '0');
		}
		#navigation .nav a:hover,
		#navigation .nav a.hovered { background-color: rgba(0,0,0,0.2); }
		#navigation .nav > li > a {
			padding: 15px 20px;
			margin-bottom: 7px;
			font-size: 14px;
		}

		// item ativo
		#navigation .nav > li > a:active,
		#navigation .nav > li > a:focus,
		#navigation .nav > li.active > a,
		#navigation .nav > li.active:hover > a,
		#navigation .nav > li.active:focus > a {
			color: #fd0;
			text-shadow: -1px -1px 0 rgba(0,0,0,0.6);
			background-color: transparent;
		}
		#navigation .nav > li.active::after {
			display: block;
			font-family: 'baseicons';
			content: '\e878';
			position: absolute;
			bottom: -1px;
			width: 100%;
			text-align: center;
			color: $base-color-live;
		}

		// menus sub-níveis

		// desktop
		#navigation .nav .nav-child {
			min-width: 160px;
			padding: 0;
			margin: 0;
			background-color: #283C6F;
			@include build-prefix-values('box-shadow', '1px 1px 4px rgba(0,0,0,0.3)');
		}

		// links
		#navigation .nav .nav-child a {
			white-space: nowrap;
			border-top: 1px dotted $base-border-color-strong;
		}

		// divisor
		#navigation .nav .nav-child .divider {
			height: 1px;
			margin: 8px 1px;
			overflow: hidden;
			background-color: $base-border-color;
			border-bottom: 1px solid #fff;
		}

		// menu sub-nível 2
		#navigation .nav .nav-child > li > .nav-child {
			border-left: 1px solid $base-border-color;
			@include build-prefix-values('border-top-left-radius', '0');
		}

		// MMENU -> mobile menu
		#mm-navigation.mm-menu.mm-theme-black {
	    background: #0a1531;
	    border-right: 1px solid #273A6C;
		}

// WRAPPER

	#wrapper {
		margin: auto;
		padding-top: 50px;
		@include build-prefix-values('box-shadow', 'inset 0 67px 0px #eee');
	}
	.media-md #wrapper { padding: 60px $base-space 0; }

	// valores referentes a navside
	#navside + #wrapper { margin-left: 220px; }
	.media-lg #navside + #wrapper { margin-left: 300px; }

	// wrapper = container
	// .media-sm #wrapper { width: 750px; }
	// .media-md #wrapper { width: 970px; }
	// .media-lg #wrapper { width: 1170px; }

	// INFO TOP

		#bradcrumb .breadcrumb {
			padding: 8px;
			font-size: 12px;
			white-space: nowrap;
			@include build-prefix-values('border-radius', '0');
	    background-color: #fff;
		}


	// FULL-CONTENT -> área total do conteúdo incluindo as laterais

		// LEFT & RIGHT
		#left .module,
		#right .module { margin-bottom: $base-space; }

		// CONTENT
		#full-content { padding: $base-space-lg 0 50px; }

		// TOOLBAR
		#content-toolbar {
	    padding-bottom: 5px;
			margin-bottom: 20px;
	    border-bottom: 1px solid $base-color-live;
			@include build-prefix-values('box-shadow', '0 1px 0 #fff');
		}
		#content-toolbar h3 {
			float: left;
			margin: 8px 0;
			font-size: 1.5em;
		}
		#content-toolbar h3 [class*="base-icon"] { color: $base-color-live; }
		#toolbar-btns {
			float: right;
			padding: 5px 7px;
			@include build-prefix-values('transition', 'all .1s linear');
		}
		#toolbar-btns.affix {
			top: 56px;
			right: 30px;
			background-color: #fafafa;
			z-index: $zindex-toolbar-btns;
			@include build-prefix-values('border-radius', '0 0 2px 2px');
			@include build-prefix-values('box-shadow', '0px 1px 6px rgba(0,0,0,0.3), 0 0 1px #ccc');
		}
		.media-to-sm #toolbar-btns {
			position: static!important;
			display: block;
			text-align: right;
		}
		#toolbar-btns > .btn,
		#toolbar-btns *:not(.btn-group) .btn {
			margin: 2px 0; /*espaço entre botões em caso de quebra de linha*/
		}
		.media-md #toolbar-btns.affix:hover { opacity: 1; }
		.media-md #toolbar-btns.affix .btn {
			// @include build-prefix-values('box-shadow', '0 0 4px rgba(0,0,0,0.15)');
		}

	  .media-md #content-body:not(.fullScreen) {
			max-width: 1200px;
	    margin: auto;
		}

		// TABLE PAGINATION
		#table-footer {
			padding-top: 15px;
			text-align: center;
			border-top: 1px solid $base-border-color;
		}
		#table-footer .pagination {
			margin: 0;
		}

		// LOGIN
		body.login #wrapper {
			padding: 0;
			margin: 0;
		}
		body.login #header {
			text-align: center;
		}
		body.login #header .brand { float: none; 	}
		body.login #header .brand img {
			width: 115px;
			margin-top: 0;
		}
		.media-sm body.login #header .brand img { float: right; }
		.media-only-xs body.login #header .brand img { margin: auto; }
		body.login #form-login > img {
			margin: 20px auto 0;
			width: 60px;
		}
		#form-login fieldset {
			display: block;
			width: 370px;
			max-width: 100%;
			padding: 50px;
			margin: 20px auto 0;
			@include build-prefix-values('border-radius', $border-radius-base);
			background-color: #fff;
		}
		.media-only-xs #form-login fieldset { padding: 20px; }
		#form-login fieldset legend {
			margin-left: 94px;
			color: #999;
		}
		#form-login label {
			color: $base-color-live;
			font-weight: normal;
		}

	// SYNDICATE

		#syndicate {

		}
		.media-to-sm #syndicate { text-align: center; }

	// BOTTOM

		#bottom {

		}
		.media-to-sm #bottom { text-align: center; }

	// FOOTER

		#footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			font-size: 13px;
			padding: 3px 13px;
			border-top: 1px solid #d0d8e6;
			background-color: #eee;
			background-color: rgba(240, 240, 240, 0.9);
			@include build-prefix-values('box-shadow', '0 -1px 4px rgba(0, 0, 0, 0.08)');
		}
		.media-only-xs #footer {
			padding: 3px 0;
		}
		#footer #copyright {
			font-family: "condensed";
			color: $base-color-live;
			line-height: 2em;
		}
		body.login #footer #copyright {
			width: 100%;
			text-align: center;
		}
		#footer #copyright .label {
	    font-size: .9em;
	    padding: 0px 6px;
	    font-weight: normal;
		}
		body.login #footer #info-dev { display: none; }

	//SCROLLTOTOP

		#scroll-to-top {
			display: none;
			position: fixed;
			right: $base-space;
			bottom: 45px;
			padding: 8px 16px;
			color: #fff;
			font-size: 20px;
			@include build-prefix-values('border-radius', $border-radius-base);
			background: #333;
			opacity: 0.8;
			overflow: hidden;
			z-index: 9999;
		}
		#scroll-to-top:before {
			font-family: 'baseicons';
			content: '\e889'; // base-icon-angle-double-up
		}
		.support-on #scroll-to-top {
			right: 10px;
			bottom: 50px;
		}
		#scroll-to-top:hover { opacity: 0.95; }


// BASE 'ELEMENTS'

	// fieldser-bordered inside tab-content
	.tab-content .fieldset-bordered .fieldset-sm {
		background-color: $body-bg;
		@include build-prefix-values('box-shadow', '1px 1px 6px rgba(0, 0, 0, 0.15)');
	}

// BOOTSTRAP 'ELEMENTS'

	// tabs
	.nav-tabs { border-bottom: 3px solid $brand-primary; }
	.nav-tabs > li { margin-bottom: 0; }
	// margem inicial (esquerda) na primeira aba
	.nav-tabs > li:first-child:not(.dropdown), .nav-tabs > li.dropdown + li { margin-left: 10px; }
	.nav-tabs > li > a {
		font-size: 0.9em!important;
		border-width: 0px!important;
	}

	.tab-content {
		margin-bottom: 0;
		border-top: 0;
		@include build-prefix-values('border-radius', 0 0 $border-radius-base $border-radius-base);
	}
	.tab-content:not(.well) { padding: $base-space-sm 0; }

		// clearfix
		.tab-content:before,.tab-content:after{display:table;content:"";line-height:0;}
		.tab-content:after{clear:both;}

		// forms
		.tab-content .tab-pane > .form-group:last-child { margin-bottom: 0!important; }

	// dropdown-link-disabled-color
	.dropdown-menu { padding: 2px 0; }
	.dropdown-menu > li > a { padding: 3px 10px; }
	.dropdown-menu .divider { margin: 2px 0; }
